#hedera #mnemonic-block #mnemonic{
    height: 160px;
    font-size: 16px;
    cursor: grab;
}

#hedera #mnemonic-block {
    display: none;
}

#hedera #title-block {
    display: none;
}

#hedera #btn-block {
    display: none;
    padding-top: 10px;
}




#hedera #mnemonic-block .input-block{
    padding-top: 10px;
}

#hedera #title-block #title-txt{
    font-family: 'Styrene30, Helvetica, Arial, Verdana, Tahoma, sans-serif';
    font-size:12px;
}

#hedera #mnemonic-block .input-block .text-copied{
    background: #19e0bb;
    position: absolute;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    color: #000;
    bottom: 0px;
    left: 15px;
    right: 15px;
    height: 0px;
    transition: all 0.6s ease;
}

#hedera #mnemonic-block .input-block .text-copied{
    visibility: hidden;
    opacity: 0;
}

#hedera #mnemonic-block .input-block.active .text-copied{
    height: 22px;
}

#hedera #mnemonic-block .input-block.active .text-copied{
    visibility: visible;
    opacity: 1;
}


#hedera #confirm-mnemonic-block .mnemonic-word-block{
    padding-top: 10px;
}