
#hedera .login .banner-logo{
    padding-top: 40px;
}

#hedera .login .banner-header{
    font-size: 25px;
    font-weight: 600;
}

#hedera .login .password-field{
    padding-top: 20px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

#hedera .login .password-field .form-group{
    width:200px;
}

#hedera .login .secure-btn{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
